@using ViewModel.Order
@model List<SubscriptionPlans>
@{
    ViewData["Title"] = "Index";
    long selectedId;
}


<style>
    .card-body:hover {
        box-shadow: 0px 0px 0px 10px #F4AB4D;
    }

    .select {
        font-size: 1.7rem;
        font-weight: 600;
        color: #BCBCBA;
    }
</style>



<div class="col-12">
    <h1 class="text-center title">ESCOLHA SEU PLANO</h1>
    <p class="text-center subtitle">Escolha o melhor plano para que você acesse os recursos</p>
</div>

    <div class="card-deck row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card mb-sm-4" id="card-style">
                    <div id="@item.Id" class="card-body" onclick="selectPlan(@item.Id)">
                        <h3 class="card-title text-center">@item.PlanName</h3>
                        <p class="card-text text-center p-5 text-nowrap"><span class="real">R$</span> <span class="money">@item.Value</span></p>
                        <p class="text-center select">SELECIONE</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-sm-12">
        <a class="btn button-Style" href ="@Url.Action("Subscription", "orders", new { id = Model.First().Id})">ASSINAR AGORA</a>
    </div>


<script>

function selectPlan(id)
{
    @foreach (var item in Model)
    {
            <text>
                $('#@item.Id').removeClass("active");
            </text>
    }
    $(`#${id}`).toggleClass("active");
}


function validateForm()
{
    @foreach (var item in Model)
    {
        <text>
            if($('#@item.Id').hasClass("active"))
            {
                $.ajax({
                    type: "GET",
                    url: "/Orders/Subscription/@item.Id",

                });
            }
        </text>
    }

}
</script>